<?xml version="1.0"?>
<launch>

    <arg name="laser_enabled" default="true"/>
    <arg name="kinect_enabled" default="true"/>

    <include file="$(find husky_gazebo)/launch/playpen.launch" />

    <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
        <arg name="laser_enabled" value="$(arg laser_enabled)"/>
        <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    </include>

    <node pkg="fra_lab3" name="fra_lab3" type="opencv_test_node.py">

    </node>

</launch>